
.form-1{
    padding: 0px 0px 0px 0px;
    background-color: transparent;
  } 

  .form-2{
    text-align: left;
    padding: 87px 10px 10px 10px;
  }
  .form-1-head{
    text-align: center;
  }
  .registration-info{
    padding: 10px 0px 0px 250px;
  }
  .h4{
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  }
  .bg{
    background-image: url(img/reg_bg.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed;  */
    height:auto;
    width: 100%;   
    background-size: 100%;
    position: absolute; 
    z-index: -1;   
    opacity: 0.9;
  }
  .ptext{
    position:absolute;
    top:20%;
    width:100%;
    text-align:center;
    color:black;
    font-size:50px;
    letter-spacing:2px;
    text-transform:uppercase;
    font-family:"Lato", sans-serif;
    font-weight:600;
  }
  .ptext .border{
    background-color:#111;
    color:black;
    padding:20px;
  }
  .ptext .border.trans{
    background-color:transparent;
  }
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }
  .homepage-head{
    text-decoration: underline;
    padding-top:20px;
  }
  .ebm-registeration{
    padding:20px 10px 10px 10px;
    text-align: center;
  }
  .registeration{
    /* padding-top: 100px; */
    background-color: #1c2331;
  }
    .about-content{
    padding-top: 20px;
  }
  .about{
    padding-top:160px;
    text-align: center;   
  }
  .map{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left:  10%;
    padding-right: 10%;
  }

  .map-bg{
    background-image: url(img/ceg.jpg);
    background-repeat: no-repeat;
    position: relative;
    height:500px;
    width:100%;
    background-attachment: fixed;

  }
  .p1-about{
    color: white;
  }
  .home-section{
    padding-top: 30px;
    padding-bottom: 0[x;]
  }
